<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Ajout d'une annonce</title>
  </head>
  <body>
    <h1>Ajout d'une annonce !</h1>
    <p>
      Ajout de l'annonce avec succès!
    </p>
    <h5>Thanks!</h5>
  </body>
</html>