{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("OCPlatformBundle:Advert:form.html.twig") }}

  <p>
    Merci d'enrichir notre site pour le bien de tous ceux qui s'y connectent.
  </p>

  <p>
    <a href="{{ path('oc_platform_home', {'page': 1}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux l'annonce
    </a>
  </p>

{% endblock %}