<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Supression Annonce</title>
  </head>
  <body>
    <h1>Supression de l'annonce n°{{ id }} !</h1>
    <p>
      Ici nous pourrons lire l'annonce supprimée dont l'ID est: {{ id }}<br />
    </p>
    <h5>Cordialement!</h5>
  </body>
</html>