<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Editer annonce</title>
  </head>
  <body>
    <h1>Modification de l'annonce N°{{ id }}</h1>
    <p>
      Ici il y aura modification de l'annonce N°{{ id }}!
    </p>
    <h5>Cordialement!</h5>
  </body>
</html>