<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Generation URL !</title>
  </head>
  <body>
    <h1>Générer des URL !</h1>
    <p>
      <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">
			Lien vers l'annonce d'id {{ advert_id }}</a>
    </p>
	<h3>Cordialement {{ prenom }} !</h3>
  </body>
</html>
