<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Affichage de l'annonce {{ id }}</title>
  </head>
  <body>
    <h1>Affichage de l'annonce N°{{ id }} !</h1>
    <p>
      Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
      Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
    </p>
    <h5>Patience !</h5>
  </body>
</html>